.quantity__container{
  margin-left: 240px;
  margin-right: 240px;
}

.text__title{
  text-align: center;
}

.text{
  font-size: 18px;
}

.text p span{
  font-weight: 700;
}

.margin_text{
  margin-top: 30px;
  margin-bottom: 30px;
}

.d-flex{
  display: flex !important;
}
