.home-container {
  margin-left: 240px;
  margin-right: 240px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: #2aa2d4;
  margin-top: 90px;
  margin-bottom: 40px;
}

.home-cart {
  display: flex;
  flex-wrap: wrap;
}

.boder-bottom {
  border-bottom: 2px solid #f0942b;
  margin-top: 42px;
  margin-bottom: 42px;
}

.text-website {
  text-align: center;
}

.text-outstanding {
  font-weight: 700;
  font-size: 20px;
  color: #2aa2d4;
  text-align: center;
  margin-top: 30px;
}

.img-outstanding {
  display: flex;
  margin-bottom: 40px;
}

.img-1,
.img-2 {
  width: 700px;
  height: 512px;
}

.img-1 {
  margin-right: 16px;
}

.img-3,
.img-4,
.img-5,
.img-6 {
  width: 340px;
  height: 300px;
}

.img-4,
.img-5,
.img-6 {
  margin-left: 20px;
}

.text-title-img {
  font-weight: 500;
  font-size: 18px;
  color: #1f1f1f;
  text-align: center;
}

.list-img {
  display: flex;
}

.text-outstanding-client {
  font-weight: 700;
  font-size: 20px;
  color: #2aa2d4;
  text-align: center;
  margin-top: 90px;
}

// request
.request {
  width: 100%;
  height: 500px;
  background-color: #2aa2d4;
  opacity: 0.8;
}

.request h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #f6f6f6;
  padding-top: 30px;
}

.border-bottom {
  height: 2px;
  background: #f6f6f6;
  margin-left: 800px;
  margin-right: 800px;
  margin-top: -34px;
}

.request p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #f6f6f6;
  margin-top: 10px;
}

.form-input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input {
  width: 388px;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  padding-left: 20px;
}

.text-area {
  width: 388px;
  height: 230px;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn{
  align-items: center;
}

.btn-send {
  height: 45px;
  width: 130px;
  background-color: #f6f6f6;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: #2aa2d4;
  margin-top: 40px;
}

.btn-send:hover {
  background-color: #4dc0f1;
  color: white;
}