.inOffset__container{
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 130px;
}

.text__title{
  text-align: center;
  color: #2AA2D4;
  margin-bottom: 50px;
}

.text{
  font-size: 18px;
}

.text p span{
  font-weight: 700;
}

.margin_text{
  margin-top: 30px;
  margin-bottom: 30px;
}

.d-flex{
  display: flex !important;
}

.featured__order{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}


.boder__bottom{
  border-bottom: 2px solid #F0942B;
  margin-top: 95px;
  margin-bottom: 100px;
}

.float_right{
  float: right;
  margin-bottom: 20px;
}

.list_decal{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}