.cacrousel{
  height: 300px;
  width: 500px;
}

.img-item{
  border-radius: 50%;
  height: 180px;
  border: 1px solid rgb(196, 196, 196);
}

.name-item{
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content-item{
  font-size: 16px;
  color: #5F5757;
  font-weight: 400;
}