.cart-list {
  width: 394px;
  margin-right: 14px;
  margin-bottom: 30px;
}

.card-img {
  width: 343px;
  margin-left: -8px;
}

.card-name{
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin-bottom: 4px;
}

.text-card {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.text-card-material,
.text-card-machining{
  font-size: 16px;
  color: #5F5757;
}

.text-quote{
  text-decoration: none;
  margin-top: 20px;
  text-align: right;
  margin-right: 18px;
}

.text-card-quote{
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #1952C4;
}

.icon-SelectCard{
  margin-left: 10px;
}
